@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    min-height: 100vh;
    place-items:center;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 95%);
}

.conteiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    max-width: 60%;
    min-height: 30%;
}

h1{
    font-family:  'Big Shoulders Display', cursive;
    font-size: 2rem;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}

.secc{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 3rem;
    justify-content: space-between;

}

.secc img{
    width: 3.3rem;
}

.sedan{
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
    height: 90%;
}

.suv{
    background: hsl(184, 100%, 22%);
    height: 90%;
}

.luxury{
    background: hsl(179, 100%, 13%);
    border-radius: 00px 10px 10px 0px;
    height: 90%;
    
}

.infos{
    display: flex;
    flex-direction: column;
    gap:20px;
}

button{
    background: none;
    padding: 10px ;
    width: 120px;
    border-radius: 50px;
    background: hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    color: hsl(31, 77%, 52%);
}
.button2{
color: hsl(184, 100%, 22%);
}
.button3{
color: hsl(179, 100%, 13%);
}

button:hover{
    color: hsl(0, 0%, 95%);
    background: none;
    border: solid 1px white;
    cursor: pointer;
}

@media (max-width: 810px){



    .conteiner{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    
    }


    .suv{
        width: 100%;
    }

    .sedan{
        width: 100%;
    }

    .luxury{
        grid-column: 1/3;
        width: 100%;
        height: 70%;
        border-radius: 0px 0px 10px 10px
    }

}

@media (max-width: 375px){

.conteiner{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

body{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
        align-items: center;
        padding-top: 20px;
}

   .suv{
        width: 100%;
        border-radius: 0px;
    }

    .sedan{
        width: 100%;
        border-radius: 10px 10px 0px 0px
    }

    .luxury{
        grid-column: 1/3;
        width: 100%;
        height: 70%;
        border-radius: 0px 0px 10px 10px
    }


}